@media (min-width: 451px) and (max-width: 767px) {
  .col-st-1,
  .col-st-10,
  .col-st-11,
  .col-st-12,
  .col-st-2,
  .col-st-3,
  .col-st-4,
  .col-st-5,
  .col-st-6,
  .col-st-7,
  .col-st-8,
  .col-st-9 {
    float: left;
  }
  .col-st-12 {
    width: 100%;
  }
  .col-st-11 {
    width: 91.66666667%;
  }
  .col-st-10 {
    width: 83.33333333%;
  }
  .col-st-9 {
    width: 75%;
  }
  .col-st-8 {
    width: 66.66666667%;
  }
  .col-st-7 {
    width: 58.33333333%;
  }
  .col-st-6 {
    width: 50%;
  }
  .col-st-5 {
    width: 41.66666667%;
  }
  .col-st-4 {
    width: 33.33333333%;
  }
  .col-st-3 {
    width: 25%;
  }
  .col-st-2 {
    width: 16.66666667%;
  }
  .col-st-1 {
    width: 8.33333333%;
  }
  .col-st-pull-12 {
    right: 100%;
  }
  .col-st-pull-11 {
    right: 91.66666667%;
  }
  .col-st-pull-10 {
    right: 83.33333333%;
  }
  .col-st-pull-9 {
    right: 75%;
  }
  .col-st-pull-8 {
    right: 66.66666667%;
  }
  .col-st-pull-7 {
    right: 58.33333333%;
  }
  .col-st-pull-6 {
    right: 50%;
  }
  .col-st-pull-5 {
    right: 41.66666667%;
  }
  .col-st-pull-4 {
    right: 33.33333333%;
  }
  .col-st-pull-3 {
    right: 25%;
  }
  .col-st-pull-2 {
    right: 16.66666667%;
  }
  .col-st-pull-1 {
    right: 8.33333333%;
  }
  .col-st-pull-0 {
    right: auto;
  }
  .col-st-push-12 {
    left: 100%;
  }
  .col-st-push-11 {
    left: 91.66666667%;
  }
  .col-st-push-10 {
    left: 83.33333333%;
  }
  .col-st-push-9 {
    left: 75%;
  }
  .col-st-push-8 {
    left: 66.66666667%;
  }
  .col-st-push-7 {
    left: 58.33333333%;
  }
  .col-st-push-6 {
    left: 50%;
  }
  .col-st-push-5 {
    left: 41.66666667%;
  }
  .col-st-push-4 {
    left: 33.33333333%;
  }
  .col-st-push-3 {
    left: 25%;
  }
  .col-st-push-2 {
    left: 16.66666667%;
  }
  .col-st-push-1 {
    left: 8.33333333%;
  }
  .col-st-push-0 {
    left: auto;
  }
  .col-st-offset-12 {
    margin-left: 100%;
  }
  .col-st-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-st-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-st-offset-9 {
    margin-left: 75%;
  }
  .col-st-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-st-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-st-offset-6 {
    margin-left: 50%;
  }
  .col-st-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-st-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-st-offset-3 {
    margin-left: 25%;
  }
  .col-st-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-st-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-st-offset-0 {
    margin-left: 0;
  }
}
.green-link {
  color: #3daa35;
}
.green-button-link {
  border: 2px solid #3daa35;
  border-radius: 2px;
  color: #3daa35;
  display: inline-block;
  padding: 4px 10px;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 600;
  transition: 0.5s ease-in;
}
.green-button-link:hover {
  background: #3daa35;
  color: white;
  text-decoration: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.somit-header {
  padding-top: 48px;
  padding-bottom: 40px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .somit-header {
    padding-top: 0;
    padding-bottom: 24px;
  }
}
@media (max-width: 992px) {
  .somit-header {
    padding-top: 0;
    padding-bottom: 24px;
  }
}
.somit-header .inside-container {
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .somit-header .inside-container {
    display: block;
  }
}
@media (max-width: 992px) {
  .somit-header .inside-container {
    display: block;
  }
}
.somit-header .top-logo {
  display: block;
  padding: 15px 11px 14px 0px;
  margin-right: 26px;
}
@media (max-width: 992px) {
  .somit-header .top-logo {
    margin: 0;
    text-align: center;
  }
  .somit-header .top-logo img {
    max-width: 150px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .somit-header .top-logo {
    margin: 0;
    text-align: center;
  }
  .somit-header .top-logo img {
    max-width: 150px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .somit-header .top-logo {
    position: absolute;
    top: -80px;
    left: 50%;
    margin-left: -106px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .somit-header .weather-lang {
    position: absolute;
    right: 24px;
    top: 74px;
  }
}
.somit-header .weather-block {
  display: flex;
}
@media (max-width: 992px) {
  .somit-header .weather-block {
    display: none;
  }
}
.somit-header .city-filter {
  cursor: pointer;
  position: relative;
  z-index: 300;
  width: 136px;
  margin-left: 14px;
}
.somit-header .city-filter .name {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 90px;
}
.somit-header .city-filter .weather-menu {
  background: url(../img/bg-weather-menu.png) 0 0 no-repeat;
  display: inline-block;
  height: 11px;
  margin-right: 2px;
  width: 12px;
  vertical-align: middle;
}
.somit-header .city-filter .city-label {
  color: #363636;
  float: left;
  line-height: 20px;
  width: 58px;
}
.somit-header .city-filter .current-city {
  padding-left: 8px;
}
.somit-header .city-filter .current-city.city-list-open svg {
  transform: none;
}
.somit-header .city-filter .current-city svg {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(180deg);
}
.somit-header .city-filter .city-list {
  background: #F2F2F2;
  border-radius: 8px;
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  padding: 12px 16px;
  width: 100%;
  text-align: left;
}
.somit-header .city-filter .city-list ul li {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 4px 0;
  position: relative;
}
.somit-header .city-filter .city-list ul li:hover {
  color: #B1B1B1;
}
.somit-header .city-filter .city-list ul li.active {
  color: #1A1919;
}
.somit-header .city-filter .city-list ul li.active:before {
  content: "";
  background-color: #1A1919;
  width: 6px;
  height: 1px;
  position: absolute;
  transform: rotate(50deg);
  right: 9px;
  top: 12px;
}
.somit-header .city-filter .city-list ul li.active:after {
  content: "";
  background-color: #1A1919;
  width: 12px;
  height: 1px;
  position: absolute;
  transform: rotate(-50deg);
  right: 0px;
  top: 10px;
}
.somit-header .weather {
  white-space: nowrap;
}
@media (max-width: 767px) {
  .somit-header .weather {
    margin-left: 0px;
  }
}
.somit-header .weather .weather-icon {
  display: inline-block;
  margin-top: -10px;
  height: 29px;
  width: 36px;
}
.somit-header .weather .weather-icon img {
  width: 100%;
}
.somit-header .weather .weather-temp {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  margin-left: -4px;
}
.somit-header .top-menu-block {
  border: 1px solid #E0E0E0;
  border-radius: 32px;
  padding: 10px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .somit-header .top-menu-block {
    border: none;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0;
    padding: 8px 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.somit-header .top-menu-block .block-menu {
  min-height: 45px;
  text-align: center;
}
@media (max-width: 992px) {
  .somit-header .top-menu-block .block-menu {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .somit-header .top-menu-block .block-menu {
    min-height: 25px;
  }
}
.somit-header .top-menu-block .block-menu ul.menu {
  width: 100%;
  display: flex;
  margin: 0 4px;
}
@media (max-width: 767px) {
  .somit-header .top-menu-block .block-menu ul.menu {
    display: block;
  }
}
.somit-header .top-menu-block .block-menu ul.menu li {
  color: #1A1919;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  margin: 12px 0 12px 0;
}
.somit-header .top-menu-block .block-menu ul.menu li.active-trail > a {
  background: #E0E0E0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .somit-header .top-menu-block .block-menu ul.menu li {
    font-size: 14px;
  }
  .somit-header .top-menu-block .block-menu ul.menu li a {
    padding: 4px 9px !important;
  }
}
@media (max-width: 992px) {
  .somit-header .top-menu-block .block-menu ul.menu li {
    font-size: 14px;
    margin: 6px 0;
  }
}
.somit-header .top-menu-block .block-menu ul.menu li a {
  border-radius: 24px;
  padding: 8px 14px;
  transition: all 0.3s ease-in;
}
@media (min-width: 768px) and (max-width: 992px) {
  .somit-header .top-menu-block .block-menu ul.menu li a {
    padding: 8px 9px;
  }
}
.somit-header .top-menu-block .block-menu ul.menu li a:hover,
.somit-header .top-menu-block .block-menu ul.menu li a.hover {
  background: #F2F2F2;
  text-decoration: none;
}
@media (max-width: 767px) {
  .somit-header .top-menu-block .search-block {
    display: none;
  }
}
.somit-header .top-menu-block .search-block .search-buttn {
  background: #F2F2F2;
  border-radius: 50%;
  cursor: pointer;
  padding: 15px;
  display: block;
  height: 48px;
  width: 48px;
}
.soc-block {
  overflow: hidden;
}
.somit-header .soc-block {
  float: right;
  padding-top: 5px;
}
.soc-block .title {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .soc-block .title {
    display: none;
  }
}
.soc-block a {
  background-image: url(../img/bg-social.png);
  background-repeat: no-repeat;
  display: block;
  height: 26px;
  float: left;
  margin-left: 1px;
  margin-bottom: 2px;
  width: 26px;
  transition: background 0.4s ease-in;
}
.soc-block a.vk {
  background-position: 3px 0;
}
.soc-block a.fb {
  background-position: -27px 0;
}
.soc-block a.tw {
  background-position: -57px 0;
}
.soc-block a.gp {
  background-position: -85px 0;
}
.soc-block a.ig {
  background-position: -113px 0;
}
.soc-block a:hover {
  background-image: url(../img/bg-social-off.png);
}
.media-kit {
  float: right;
  margin-right: 20px;
}
.media-kit a {
  display: inline-block;
  background: url(../img/mediakit.png) no-repeat left center;
  color: #00aeef;
  font-size: 11px;
  text-transform: uppercase;
  padding: 3px 3px 1px 15px;
}
.icon-link {
  color: #9b9b9b;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}
.icon-link a {
  display: inline-block;
  position: relative;
}
.icon-link a:before {
  content: "";
  background-image: url(../img/spritesheet-subscribe.png);
  position: absolute;
  background-repeat: no-repeat;
}
.icon-link--subscribe a:before {
  background-position: 0 0;
  height: 16px;
  width: 25px;
  left: 0;
  top: 3px;
}
.icon-link--mediakit {
  margin-left: 20px;
}
.icon-link--mediakit a:before {
  background-position: 0 -24px;
  height: 21px;
  width: 15px;
  left: 8px;
  top: 0;
}
@media (max-width: 767px) {
  .text-right-xs {
    text-align: center;
  }
}
.somit-footer {
  background-color: #F8F8F8;
  color: #1A1919;
  margin-top: 48px;
  padding-top: 64px;
  padding-bottom: 48px;
}
@media (max-width: 767px) {
  .somit-footer .display-flex {
    display: block !important;
  }
}
.somit-footer .logo-lang {
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .somit-footer .search-block {
    display: none;
  }
}
.somit-footer .search-block .search-buttn {
  background: #F2F2F2;
  border-radius: 50%;
  cursor: pointer;
  padding: 15px;
  display: block;
  height: 48px;
  width: 48px;
}
@media (max-width: 767px) {
  .somit-footer .subscribe-media {
    clear: both;
    display: flex;
    justify-content: space-between;
  }
}
.somit-footer .subscribe-media .icon-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-left: 24px;
}
@media (max-width: 767px) {
  .somit-footer .subscribe-media .icon-link {
    margin-right: 0;
    margin-left: 0;
    margin-top: 24px;
    font-size: 14px;
    line-height: 18px;
  }
}
.somit-footer .subscribe-media .icon-link a:before {
  display: none;
}
.somit-footer .subscribe-media .icon-link a {
  color: #1A1919;
}
.somit-footer .subscribe-media .icon-link svg {
  display: inline-block;
  transform: translateY(6px);
  margin-right: 8px;
}
.somit-footer .menu-kit {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
@media (max-width: 992px) {
  .somit-footer .menu-kit {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .somit-footer .menu-kit {
    display: block;
  }
}
.somit-footer .menu-kit ul.menu {
  width: 100%;
  display: flex;
  margin: 0 4px;
}
@media (max-width: 767px) {
  .somit-footer .menu-kit ul.menu {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .somit-footer .menu-kit ul.menu {
    justify-content: center;
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .somit-footer .menu-kit ul.menu {
    justify-content: center;
    margin-bottom: 24px;
  }
}
.somit-footer .menu-kit ul.menu li {
  color: #1A1919;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  margin: 0 24px 0 0;
}
.somit-footer .menu-kit ul.menu li.active-trail > a {
  color: #B1B1B1;
}
@media (min-width: 768px) and (max-width: 992px) {
  .somit-footer .menu-kit ul.menu li {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .somit-footer .menu-kit ul.menu li {
    margin: 12px;
  }
}
.somit-footer .menu-kit ul.menu li a {
  transition: all 0.3s ease-in;
}
.somit-footer .menu-kit ul.menu li a:hover,
.somit-footer .menu-kit ul.menu li a.hover {
  color: #B1B1B1;
  text-decoration: none;
}
.somit-footer .bottom-longtext {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 590px;
}
@media (max-width: 767px) {
  .somit-footer .bottom-longtext {
    font-size: 14px;
  }
}
.somit-footer .menu-social ul.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 395px;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .somit-footer .menu-social ul.menu {
    justify-content: center;
    margin-top: 24px;
  }
}
.somit-footer .menu-social ul.menu a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #9B9B9B;
  margin-bottom: 16px;
  margin-left: 16px;
  display: block;
}
@media (max-width: 767px) {
  .somit-footer .menu-social ul.menu a {
    font-size: 14px;
    margin-bottom: 8px;
    margin-left: 12px;
  }
}
.somit-footer .small-share-block {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
@media (max-width: 767px) {
  .somit-footer .small-share-block {
    justify-content: center;
  }
}
.somit-footer .small-share-block .newfa {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C4C4C4;
  border-radius: 50%;
  margin-left: 8px;
}
.somit-footer .small-share-block .newfa:hover {
  background: #F2F2F2;
}
.somit-footer .small-share-block .newfa:hover path {
  stroke: #C4C4C4;
}
.lang-block {
  position: relative;
}
@media (max-width: 992px) {
  .lang-block {
    position: absolute;
    top: 6px;
    right: 0;
  }
}
.lang-block .globus {
  margin: 14px;
  cursor: pointer;
}
.lang-block .globus:hover path {
  stroke: #E1E3E6;
}
.lang-block .language-switcher-locale-url {
  display: none;
  background: #F2F2F2;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 46px;
  padding: 12px 16px;
  width: 124px;
  z-index: 100;
}
@media (max-width: 992px) {
  .lang-block .language-switcher-locale-url {
    right: 0;
    left: auto;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .lang-block .language-switcher-locale-url {
    right: 0;
    left: auto;
  }
}
.lang-block ul li {
  list-style: none;
  padding: 4px 0;
  text-align: left;
}
.lang-block ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  display: block;
  width: 100%;
}
.lang-block ul li a:hover {
  color: #B1B1B1;
  text-decoration: none;
}
.lang-block ul li a.active {
  color: #1A1919;
}
.lang-block ul li a.active:before {
  content: "";
  background-color: #1A1919;
  width: 6px;
  height: 1px;
  position: absolute;
  transform: rotate(50deg);
  right: 9px;
  top: 8px;
}
.lang-block ul li a.active:after {
  content: "";
  background-color: #1A1919;
  width: 12px;
  height: 1px;
  position: absolute;
  transform: rotate(-50deg);
  right: 0px;
  top: 6px;
}
.wrap-toggle-btn {
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 36px;
  position: fixed;
  right: 15px;
  padding: 0 5px;
  top: 10px;
  z-index: 500;
}
.wrap-toggle-btn.mobile-toggle .toggle-btn {
  background-color: #0aaf5f;
  visibility: hidden;
}
.wrap-toggle-btn.mobile-toggle .toggle-btn:before,
.wrap-toggle-btn.mobile-toggle .toggle-btn:after {
  background-color: #0aaf5f;
}
.wrap-toggle-btn.mobile-toggle .toggle-btn:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0;
  visibility: visible;
}
.wrap-toggle-btn.mobile-toggle .toggle-btn:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 0;
  visibility: visible;
}
.wrap-toggle-btn .toggle-btn {
  background-color: #3daa35;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: relative;
}
.wrap-toggle-btn .toggle-btn:before,
.wrap-toggle-btn .toggle-btn:after {
  background-color: #3daa35;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: transform 0.2s, top 0.2s;
  -webkit-transition: transform 0.2s, top 0.2s;
}
.wrap-toggle-btn .toggle-btn:before {
  top: -10px;
}
.wrap-toggle-btn .toggle-btn:after {
  bottom: -10px;
}
.display-flex {
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  display: flex;
  align-items: center;
}
.col-social {
  min-height: 33px;
}
@media (max-width: 992px) {
  .col-social {
    padding-right: 0;
  }
  .col-social .soc-block {
    float: left;
  }
  .col-social .media-kit {
    float: left;
    margin-left: 15px;
    margin-right: 0;
  }
}
.taxi-form {
  margin-top: 25px;
  margin-left: -22px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .taxi-form {
    margin-left: -50px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .taxi-form {
    float: right;
    margin-top: 10px;
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .taxi-form {
    margin-top: 5px;
    margin-left: -20px;
  }
}
.taxi-button a {
  display: inline-block;
  position: relative;
  padding: 19px 20px 19px 52px;
  font-size: 12px;
  line-height: 12px;
  transition: all 0.3s ease-in;
}
.taxi-button a:before {
  content: "";
  background-image: url(../img/Taxi_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 38px;
  position: absolute;
  left: 10px;
  top: 15px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .taxi-button a {
    padding: 19px 0px 19px 52px;
  }
}
@media (max-width: 767px) {
  .taxi-button a {
    padding: 10px 20px 10px 45px;
  }
  .taxi-button a:before {
    left: 0px;
    top: 7px;
  }
}
.taxi-button a:hover {
  text-decoration: none;
  background-color: rgba(255, 218, 82, 0.5);
}
.col-weather {
  min-height: 30px;
}
.icon-links-block {
  text-align: right;
}
@media (max-width: 992px) {
  .icon-links-block {
    text-align: left;
    margin-top: 20px;
  }
}
.social-block {
  text-align: right;
}
@media (max-width: 992px) {
  .social-block {
    text-align: center;
    padding-top: 20px;
    clear: both;
  }
}
/*
#menu-806, #menu-807, #menu-808,
#menu-1158, #menu-1159, #menu-1160{
	&.active-trail{
		position: relative;			
		& a{
			border-radius: 3px;
			background-color: @grey-fon;
		}
		&:before{
			content: "";
			position: absolute;
			bottom: -31px;
			left: 50%;
			margin-left: -5px;
			height: 10px;
			width: 10px;
			transform: rotate(-45deg);
			border-color: @new-grey;
			border-style: solid;
			border-width: 2px 2px 0 0;
			background-color: white;
			z-index: 100;
			@media @mobile_tablet{
				display: none;
			}
		}
	}
	.fixMenu &{
		&:before{
			display: none;
		}
	}
}
.somit-footer{
	#menu-806, #menu-807, #menu-808,
	#menu-1158, #menu-1159, #menu-1160{
		&.active-trail:before{
			display: none;
		}
	}
}
*/
