@import url('constants.less');

.somit-header{
	padding-top: 48px;
	padding-bottom: 40px;
	@media @medium{
		padding-top: 0;
		padding-bottom: 24px;
	}
	@media @mobile_tablet{
		padding-top: 0;
		padding-bottom: 24px;
	}
	.inside-container{
		display: flex;
		align-items: center;
		position: relative;
		@media @medium{
			display: block;			
		}
		@media @mobile_tablet{
			display: block;
		}
	}
	& .top-logo{
		display: block;		
		padding: 15px 11px 14px 0px;
		margin-right: 26px;	
		@media @mobile_tablet{
			margin: 0;
			text-align: center;
			img{
				max-width: 150px;
			}
		}
		@media @medium{
			margin: 0;
			text-align: center;
			img{
				max-width: 150px;
			}
		}
		@media @small-notebook{
			position: absolute;
			top: -80px;
			left: 50%;
    		margin-left: -106px;
		}
	}
	.weather-lang{
		@media @medium{
			position: absolute;
			right: 24px;
			top: 74px;
		}
	}
	.weather-block{
		display: flex;
		@media @mobile_tablet{
			display: none;
		}
	}
	& .city-filter{
		cursor: pointer;
		position: relative;
		z-index: 300;
		width: 136px;
		margin-left: 14px;
		& .name{			
			display: inline-block;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			width: 90px;
		}
		& .weather-menu{
			background: url(../img/bg-weather-menu.png) 0 0 no-repeat;
			display: inline-block;
			height: 11px;
			margin-right: 2px;
			width: 12px;
			vertical-align: middle;
		}
		& .city-label{
			color: #363636;
			float: left;
			line-height: 20px;
			width: 58px;
		}
		& .current-city{
			padding-left: 8px;
			&.city-list-open{	
				svg{
					transform: none;
				}	
			}
			svg{
				display: inline-block;
				vertical-align: middle;
				transform: rotate(180deg);
			}
		}		
		& .city-list{
			background: #F2F2F2;
			border-radius: 8px;
			display: none;
			position: absolute;			
			left: 0;
			top: 30px;
			padding: 12px 16px;
			width: 100%;
			& ul li{
				list-style: none;
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
				padding: 4px 0;
				&:hover{
					color: #B1B1B1;
				}
			}
		}
	}
	& .weather{
		white-space: nowrap;
		@media @mobile{
			margin-left: 0px;
		}
		& .weather-icon{
			display: inline-block;
			margin-top: -10px;
			height: 29px;
			width: 36px;
			& img{
				width: 100%;
			}
		}
		& .weather-temp{
			display: inline-block;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			white-space: nowrap; 
			vertical-align: middle;
			margin-left: -4px;
		}
	}
	& .top-menu-block{
		border: 1px solid #E0E0E0;
		border-radius: 32px; 
		padding: 10px;	
		display: flex;
		align-items: center;
		@media @mobile{
			border: none;
			border-top: 1px solid #E0E0E0;
			border-bottom: 1px solid #E0E0E0;
			border-radius: 0; 
			padding: 8px 0;	
			margin-left: -15px;
    		margin-right: -15px;
		}
		& .block-menu{
			min-height: 45px;			
			text-align: center;
			@media @mobile_tablet{
				padding-top: 0;
			}
			@media @tablet{
				min-height: 25px;	
			}		
			& ul.menu{
				width: 100%;
				display: flex;
				margin: 0 4px;
				@media @mobile{
					display: block;
				}
				& li{
					color: @text-color;
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					display: inline-block;
					margin: 12px 0 12px 0;
					&.active-trail>a { 
						background: #E0E0E0;
					}					
					@media @medium{
						font-size: 14px;						
						& a{
							padding: 4px 9px !important;
						}
					}					
					@media @mobile_tablet{
						font-size: 14px;
						margin: 6px 0;
					}
					& a{
						border-radius: 24px;
						padding: 8px 14px;
						transition: all 0.3s ease-in;	
						@media @tablet{
							padding: 8px 9px;
						}					
						&:hover, &.hover{
							background: #F2F2F2;
							text-decoration: none;
						}
					}					
				}
			}
		}
		.search-block{
			@media @mobile{
				display: none;
			}
			& .search-buttn{
				background: #F2F2F2;
				border-radius: 50%;			
				cursor: pointer;
				padding: 15px;
				display: block;
				height: 48px;
				width: 48px;
			}
		}
	}
}
.soc-block{
	overflow: hidden;  
  .somit-header &{
  	float: right;
  	padding-top: 5px;
  }
  & .title{
  	font-size: @small-font;
  	font-weight: 600;
  	margin-bottom: 20px;
  	text-transform: uppercase;
  	@media @mobile{
  		display: none;
  	}
  }
	& a{
		background-image: url(../img/bg-social.png);
		background-repeat: no-repeat;
		display: block;
		height: 26px;
		float: left;
		margin-left: 1px;
		margin-bottom: 2px;
		width: 26px;
		transition: background 0.4s ease-in;
		&.vk{ background-position: 3px 0;}
		&.fb{ background-position: -27px 0;}
		&.tw{ background-position: -57px 0;}
		&.gp{ background-position: -85px 0;}	
		&.ig{ background-position: -113px 0;}
		&:hover{
			background-image: url(../img/bg-social-off.png);
		}
	}
}
.media-kit{
	float: right;
	margin-right: 20px;
	& a{
		display: inline-block;
		background: url(../img/mediakit.png) no-repeat left center;
		color: @blue;
		font-size: 11px;
		text-transform: uppercase;
		padding: 3px 3px 1px 15px;
	}
}
.icon-link{
	color: @footer-link;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	& a{
		display: inline-block;
		position: relative;
		&:before{
			content:"";
			background-image: url(../img/spritesheet-subscribe.png);
			position: absolute;
			background-repeat: no-repeat;
		}
	}
	&--subscribe{
		& a:before{
		background-position: 0 0;
		height: 16px;
		width: 25px;
		left: 0;
    top: 3px;
		}
	}
	&--mediakit{
		margin-left: 20px;
		& a:before{
		background-position: 0 -24px;
		height: 21px;
		width: 15px;
		left: 8px;
    top: 0;
		}
	}
}
.text-right-xs{
	@media @mobile{
		text-align: center;
	}
}
.somit-footer{
	background-color: #F8F8F8;
	color: @text-color;
	margin-top: 48px;
	padding-top: 64px;
	padding-bottom: 48px;
	.display-flex{
		@media @mobile{
			display: block !important;
		}
	}
	.logo-lang{
		margin-bottom: 48px;
	}
	.search-block{
		@media @mobile{
			display: none;
		}
		& .search-buttn{
			background: #F2F2F2;
			border-radius: 50%;			
			cursor: pointer;
			padding: 15px;
			display: block;
			height: 48px;
			width: 48px;
		}
	}	
	.subscribe-media {
		@media @mobile{
			clear: both;
			display: flex;
    		justify-content: space-between;
		}
		.icon-link{
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			margin-left: 24px;
			@media @mobile{
				margin-right: 0;
				margin-left: 0;
				margin-top: 24px;
				font-size: 14px;
				line-height: 18px;
			}
			a:before{
				display: none;
			}
			a{
				color: @text-color;
			}
			svg{
				display: inline-block;
				transform: translateY(6px);
				margin-right: 8px;
			}
		}
	}
	.menu-kit{
		padding-bottom: 32px;
		margin-bottom: 32px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.25);
		@media @mobile_tablet{
			display: block;
		}
		@media @medium{
			display: block;
		}
		& ul.menu{
			width: 100%;
			display: flex;
			margin: 0 4px;
			@media @mobile{
				display: block;
			}
			@media @tablet{
				justify-content: center;
				margin-bottom: 24px;
			}
			@media @medium{
				justify-content: center;
				margin-bottom: 24px;
			}
			& li{
				color: @text-color;
				font-weight: 600;
				font-size: 16px;
				line-height: 20px;
				display: inline-block;
				margin: 0 24px 0 0;
				&.active-trail>a { 
					color: #B1B1B1;
				}					
				@media @tablet{
					font-size: 14px;	
				}
				@media @mobile{
					margin: 12px;
				}
				& a{
					transition: all 0.3s ease-in;						
					&:hover, &.hover{
						color: #B1B1B1;
						text-decoration: none;
					}
				}					
			}
		}
	}
	.bottom-longtext{
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		max-width: 590px;
		@media @mobile{
			font-size: 14px;
		}
	}
	.menu-social{
		ul.menu{
			display: flex;
			flex-wrap: wrap;
			max-width: 395px;
			justify-content: flex-end;
			@media @mobile{
				justify-content: center;
				margin-top: 24px;
			}
			a{
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				color: #9B9B9B;
				margin-bottom: 16px;
				margin-left: 16px;
				display: block;
				@media @mobile{
					font-size: 14px;
					margin-bottom: 8px;
					margin-left: 12px;
				}
			}
		}
	}
	.small-share-block{
		display: flex;
		justify-content: flex-end;
		margin-top: 16px;
		@media @mobile{
			justify-content: center;
		}
		.newfa{
			width: 48px;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #C4C4C4;
			border-radius: 50%;
			margin-left: 8px;
			&:hover{
				background: #F2F2F2;
				path{
					stroke: #C4C4C4;
				}
			}
		}
	}		
}
.lang-block{
	position: relative;
	@media @mobile_tablet{
		position: absolute;
		top: 6px;
		right: 0;
	}
	.globus{
		margin: 14px;
		cursor: pointer;
		&:hover path{
			stroke: #E1E3E6;
		}
	}
	& .language-switcher-locale-url{
		display: none;
		background: #F2F2F2;
		border-radius: 8px;
		position: absolute;
		left: 0;
		top: 46px;
		padding: 12px 16px;
		width: 124px;
		z-index: 100;
		@media @mobile_tablet{
			right: 0;
			left: auto;
		}
		@media @medium{
			right: 0;
			left: auto;
		}
	}	
	& ul{
		& li{
			list-style: none;
			margin: 4px 0;
			text-align: left;
			& a{
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
				position: relative;
				display: block;
				width: 100%;
				&:hover{
					color: #B1B1B1;
					text-decoration: none;
				}
				&.active{
					color: @text-color;	
					&:before{
						content: "";
						background-color: @text-color;	
						width: 6px;
						height: 1px;
						position: absolute;
						transform: rotate(50deg);
						right: 9px;
						top: 8px;
					}
					&:after{
						content: "";
						background-color: @text-color;	
						width: 12px;
						height: 1px;
						position: absolute;
						transform: rotate(-50deg);
						right: 0px;
						top: 6px;
					}				
				}
			}
		}
	}
}
.wrap-toggle-btn{
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
	width: 40px;
    height: 40px;
    line-height: 36px;
    position: fixed;
    right: 15px;
    padding: 0 5px;
    top: 10px;
    z-index: 500;
    &.mobile-toggle{
		& .toggle-btn {
			background-color: @green;
			visibility: hidden;
			&:before, &:after{
				background-color: @green;
			}
			&:before {
			    transform: rotate(45deg);
			    -webkit-transform: rotate(45deg);
			    top: 0;
			    visibility: visible;
			}
			&:after {
			    transform: rotate(-45deg);
			    -webkit-transform: rotate(-45deg);
			    top: 0;
			    visibility: visible;
			}
		}
    }
	& .toggle-btn {
	    background-color: @green2;	        
	    display: inline-block;
	    vertical-align: middle;
	    width: 100%;
	    height: 4px;
		border-radius: 2px;
		position: relative;
		&:before, &:after {
		    background-color: @green2;
		    content: "";
		    display: inline-block;
		    width: 100%;
		    height: 4px;
		    border-radius: 2px;
		    position: absolute;
		    left: 0;
		    transition: transform .2s,top .2s;
    		-webkit-transition: transform .2s,top .2s;
		}
		&:before{
			top: -10px;
		}	
		&:after {
			bottom: -10px;
		}	    
	}
}
.display-flex{
	display: flex;
} 
.space-between{
	display: flex;
	justify-content: space-between;
}
.align-center{
	display: flex;
	align-items: center;
}
.col-social{
	min-height: 33px;
	//overflow: hidden;
	@media @mobile_tablet{
		padding-right: 0;
		& .soc-block{
			float: left;
		}
		& .media-kit{
			float: left;
			margin-left: 15px;
			margin-right: 0;
		}
	}
}
.taxi-form{
	margin-top: 25px;
	margin-left: -22px;
	@media @medium{
		margin-left: -50px;
	}
	@media @tablet{
		float: right;
		margin-top: 10px;
		margin-left: 0px;
	}
	@media @mobile{
		margin-top: 5px;
		margin-left: -20px;
	}
}
.taxi-button{
	& a{
		display: inline-block;
		position: relative;
		padding: 19px 20px 19px 52px;
		font-size: 12px;
		line-height: 12px;
		transition: all 0.3s ease-in;
		&:before{
			content: "";
			background-image: url(../img/Taxi_icon.svg);
			background-size: contain;
			background-repeat: no-repeat;
			height: 20px;
			width: 38px;
			position: absolute;
			left: 10px;
			top: 15px;
		}
		@media @tablet{
			padding: 19px 0px 19px 52px;
		}
		@media @mobile{
			padding: 10px 20px 10px 45px;
			&:before{
				left: 0px;
				top: 7px;
			}
		}
		&:hover{
			text-decoration: none;
			background-color: rgba(255,218,82,0.5)
		}
	}
}
.col-weather{
	min-height: 30px;
	//overflow: hidden;
}
.icon-links-block{
	text-align: right;
	@media @mobile_tablet{
		text-align: left;
		margin-top: 20px;
	}
}
.social-block{
	text-align: right;
	@media @mobile_tablet{
		text-align: center;
		padding-top: 20px;
		clear: both;
	}
}
/*
#menu-806, #menu-807, #menu-808,
#menu-1158, #menu-1159, #menu-1160{
	&.active-trail{
		position: relative;			
		& a{
			border-radius: 3px;
			background-color: @grey-fon;
		}
		&:before{
			content: "";
			position: absolute;
			bottom: -31px;
			left: 50%;
			margin-left: -5px;
			height: 10px;
			width: 10px;
			transform: rotate(-45deg);
			border-color: @new-grey;
			border-style: solid;
			border-width: 2px 2px 0 0;
			background-color: white;
			z-index: 100;
			@media @mobile_tablet{
				display: none;
			}
		}
	}
	.fixMenu &{
		&:before{
			display: none;
		}
	}
}
.somit-footer{
	#menu-806, #menu-807, #menu-808,
	#menu-1158, #menu-1159, #menu-1160{
		&.active-trail:before{
			display: none;
		}
	}
}
*/