@import url('constants.less');
@recipe-height: 480px;
@review-height: 590px;
@top3reviews1-height: 590px;
@top3reviews2-height: 282px;
@quarter-height: 590px;
@blog-height: 90px;
@special-height: 648px;
@index-height: 540px;
@new-review-height: 430px;
@event-height: 465px;
@events-height: 165px;
@photo-height: 648px;

.statistic{
  & .count{
    color: @text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 8px;
    vertical-align: middle;
  }
  & svg{
    width: 24px;
    height: 24px;
    vertical-align: middle;    
  }
  & .stat-icon{
    stroke: @text-color;
  }
}

.media-block{
  margin-bottom: 24px;
  position: relative;
  &:hover{
    & .photo a:after{
      opacity: 1;
    }
  }
  & .photo{
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    @media @mobile{
      max-width: 350px;
    }
    & img{
      transition: 0.5s all ease-in;
    }
    & a{
      display: block;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.2);
        pointer-events: none;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
      }
    }   
  }
  & .category{
    color: @category-text;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 16px;
    border: 1px solid #E0E0E0;
    border-radius: 24px;
    display: inline-block;
    @media @mobile{
      font-size: 12px;
      line-height: 16px;
      padding: 4px 8px;
      border-radius: 16px;
    }
  }
  & .kind{
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
  }
  & .title {
    font-family: @special-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 12px 0 16px;
  }
  & .descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  & .statistic{
    position: absolute;    
    z-index: 20;
    overflow: hidden;
    bottom: 24px;
    &:before{
      content: "";
      display: block;
      width: 55px;
      height: 1px;
      background-color: #E0E0E0;
      margin-bottom: 16px;
    }
    .count{
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.media-block--recipe{
  background-color: white;  
  height: @recipe-height;  

  & .text {
    padding: 10px 20px 20px 20px;
  }
  & .statistic{   
    left: 20px;
    //bottom: 20px;    
  }
}
.media-block--fon{
  color: #F2F2F2;
  padding-top: 200px;
  & .photo {
    position: absolute!important;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    @media @mobile{
      max-width: 617px;
    }
    &:hover{
      & img{
        transform: translateX(-30%);
        @media @mobile{ 
          transform: none;
        } 
      }
    }
    & img{
      max-width: none;
      height: 100%;
      transform: translateX(-30%);
      @media @mobile{ 
        transform: none;
      }       
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.2) 50%,rgba(0,0,0,.7));      
      z-index: 10;
    }   
  }
  & .text{
    position: relative;
    z-index: 10;
    padding: 0 24px;
    @media @mobile{
      position: absolute;
      bottom: 84px;
    }
  }
  & .category{
    background-color: #F2F2F2;
    color: #8B8B8B;
  }
  & .statistic{
    left: 24px;
    bottom: 24px;
    & .count{
      color: #F2F2F2;
    }
    & path{
      stroke: #F2F2F2;
    }
  }
}
.view-display-id-top_reviews{
  .media-block--review{
    @media @tablet{
      height: 590px;
    }
  }
}
.media-block--review, .media-block--place{
  height: @review-height;
  border: 1px solid #E0E0E0;
  border-radius: 24px;
  padding: 24px;
  @media @small-notebook{
    height: 510px;
  }
  @media @medium{
    height: 530px;
  }
  @media @tablet{
    height: 530px;
  }
  @media @mobile{
    height: auto;
    padding-bottom: 84px;
  }
  &:hover{
    background: #FFFFFF;
    box-shadow: 0px 12px 20px rgba(132, 131, 131, 0.24);
  }
  .photo{
    margin-bottom: 24px;
  }
}
.media-block--text, .media-block--blog{
  & .statistic{   
    left: 24px;
    bottom: 24px;    
  }
}
.media-wrapper--big{
  & .media-block--review{
    color: #F2F2F2;
    padding: 0;
    @media @mobile{
      background-color: @grey-text;
      height: 290px;
      .photo img{
        height: 290px;
        max-width: 950px;
        width: auto;
      }
    }
    @media @tablet{
      height: 440px;
    }
    @media @medium{
      .photo img{
        height: 530px;
        max-width: 1440px;
      }
    }
    @media @small-notebook{
      .photo img{
        height: 510px;
        max-width: 1440px;
      }
    }
    & .photo {
      position: absolute!important;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.2) 50%,rgba(0,0,0,.7));      
        z-index: 10;
      }   
    }
    a:hover{
      color: #F2F2F2;
    }
    & .text{
      position: absolute;
      bottom: 84px;
      left: 24px;
      z-index: 20;
    }
    & .descr{
      max-width: 600px;
    }
    & .title{
      max-width: 600px;
    }
    & .category{
      background-color: #F2F2F2;
      color: #8B8B8B;
    }
    & .statistic{
      bottom: 24px;
      left: 24px;
      & .count{
        color: #F2F2F2;
      }
      & path{
        stroke: #F2F2F2;
      }      
    }
  }
}
.media-block--lifehack{
  & .category{
      margin-top: 0;
      color: white;
      display: inline-block;
      margin-bottom: 4px;
      background: @orange;
      border-radius: 3px;
      padding: 6px 24px;
  }
}
.media-wrapper--normal{
  & .media-block--lifehack{
    background-image: url(../img/lifehack.png);
    background-color: @soft-gray;
    background-repeat: no-repeat;
    background-position: center 85px;
    text-align: center;
    transition: all .5s ease-in;
    &:hover{
      background-color: lighten(@soft-gray, 3%);
    }
    & .photo{
      max-height: 238px;
      overflow: hidden;
      & img{
        visibility: hidden;
      }
      & a:after{
        display: none;
      }
    }
    & .text{
      padding: 15px;
    }
    
    & .statistic{
      //bottom: 20px;
      left: 0;
      width: 100%;
      & .count{
        color: @text-color;
      }
      & .stat-icon{
        fill: @text-color;
      }
    }
  }
}
.media-block--photo{
  color: white;
  text-align: center;
  &:hover{
    & .photo img{
      transform: translateX(-30%);
    }
  }
  & .photo {
    position: absolute!important;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    @media @mobile{
      max-width: 617px;
    }
    & img{
      max-width: none;
      height: 100%;
      transform: translateX(-30%);
      @media @mobile{ 
        transform: none;
      }       
    }
    & a:after{
      display: none;
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.2) 50%,rgba(0,0,0,.7));      
      z-index: 10;
    }   
  }
  & .text{
    position: absolute;
    bottom: 100px;
    left: 20px;
    z-index: 20;
    width: calc(~"100% - 40px");
  }
  & .category{
    color: white;
  }
  & .statistic{
    width: 100%;
    //bottom: 20px;
    left: 0;
    & .count{
      color: white;
    }
    & .stat-icon{
      fill: white;
    }
  }
  & .photo-icon{
    display: block;
    position: relative;
    &:before{
      content: "";
      background-image: url(../img/bg-photoreview.png);
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      height: 54px;
      margin: 10px auto;
      width: 54px;     
    }
  }
  &.media-block--entertainment{
    & .photo-icon:before{
      background-color: @blue;
    }
  }
  &.media-block--culture { 
    & .photo-icon:before{
      background-color: @orange;
    }
  }
  &.media-block--cuisine { 
    & .photo-icon:before{
      background-color: @lime;
    }
  }
  .media-wrapper--big &{
    & .photo img{
      transform: none;
    }
    & .title, & .descr{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.media-wrapper--normal{
  & .media-block--rubric{
    background-color: white;
    text-align: center;
    & .photo{
      display: none;
    }
    & .rubric{
      height: 280px;
    }
    & .text{
      padding: 0 15px;
    }
    & .statistic{
      //bottom: 20px;
      left: 0;
      width: 100%;
      & .count{
        color: @text-color;
      }
      & .stat-icon{
        fill: @text-color;
      }
    }
  }
}
.canvas{
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 100%;
  width: 100%;
  &--bar {background-image: url(../img/special/bar.png)}
  &--children{background-image: url(../img/special/children.png)}
  &--food{background-image: url(../img/special/food.png)}
  &--game{background-image: url(../img/special/game.png)}
  &--leisure{background-image: url(../img/special/leisure.png)}
  &--museum{background-image: url(../img/special/museum.png)}
  &--pilgrim{background-image: url(../img/special/pilgrim.png)}
  &--shopping{background-image: url(../img/special/shopping.png)}
  &--sight{background-image: url(../img/special/sight.png)}
  &--travel{background-image: url(../img/special/travel.png)}
  
  @media @tablet{
    background-size: contain;
  }
  @media @mobile{
    background-size: contain;
  }
  .article-item--plain &{
    background-size: 150px 150px;
    @media @tablet{
      background-size: 140px 140px;
    }
    @media @mobile{
      background-size: 120px 120px;
    }
  }
}
.media-block--top3review{
  color: #F2F2F2;
  & .photo {
    position: absolute!important;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    @media @tablet{
      background-color: #111;
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.2) 50%,rgba(0,0,0,.7));      
      z-index: 10;
    }   
  }
  & .text{
    position: absolute;
    bottom: 84px;
    left: 24px;
    z-index: 20;
  }
  & .descr{
    max-width: 600px;
  }
  & .title{
    max-width: 650px;
  }
  & .category{
    background: #F2F2F2;
    color: #8B8B8B;
  }
  & .statistic{
    bottom: 24px;
    left: 24px;
    & .count{
      color: #F2F2F2;
    }
    path{
      stroke: #F2F2F2;
    }
    & .stat-icon{
      fill: white;
    }
  }
}
.media-wrapper--big{
  & .media-block--top3review{
    height: @top3reviews1-height; 
    @media @tablet{
      height: 440px;
    }
    @media @medium{
      height: 490px;
      .photo img {
        height: 490px;
        max-width: 1440px;
      }
    }
    @media @small-notebook{
      height: 590px;
      .photo img {
        height: 590px;
        max-width: 1440px;
      }
    }
    & .title{
      font-size: 45px;
    }
    @media @mobile{
      height: 200px;
      & .title{
        font-size: 20px;
        margin-bottom: 0;
      }
      & .descr{
        display: none;
      }
    }    
  }
}
.media-wrapper--normal{
  & .media-block--top3review{
    height: @top3reviews2-height;
    @media @tablet{
      .photo img {
        height: 280px;
        max-width: 1440px;
      }
    }
    @media @medium{
      height: 232px;
      .photo img {
        height: 232px;
        max-width: 1440px;
      }
    }
    @media @small-notebook{
      height: @top3reviews2-height;
      .photo img {
        height: @top3reviews2-height;
        max-width: 1440px;
      }
    }
    @media @mobile{
      height: 200px;
    }
    & .title{
      font-size: 20px;
      margin-bottom: 0;
      padding-right: 20px;
    }
    & .descr{
      display: none;
    }
  }
}
.blog-block{
  position: relative;
  @media @mobile_tablet{
    margin-bottom: 24px;
  }
  @media @medium{
    margin-bottom: 24px;
  }
  & .photo{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    float: left;
    & img{
      transition: all 0.5s ease-in;
      filter: none;
    }
  }
  & .title{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  & .title-wrap{
    height: 70px;
    position: relative;
    margin-left: 80px;
    @media @mobile{
      height: auto;
      margin-bottom: 16px;
    }
  }
  & .statistic{
    margin-left: 80px;
    &:before{
      content: "";
      display: block;
      width: 55px;
      height: 1px;
      background-color: #E0E0E0;
      margin-bottom: 16px;
    }
  }
}
.media-block--special{
  color: #F2F2F2;
  text-align: center;
  height: @special-height;
  @media @tablet{
    height: 440px;
  }
  @media @mobile{
    height: 320px;
  }
  & .photo {
    position: absolute!important;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;    
    & img{
      max-width: none;
      height: 100%;
      @media @mobile{
        transform: translateX(-30%);
      }
    }
    & a{
      height: 100%;
        &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.3) 50%,rgba(0,0,0,.0));       
        z-index: 10;
        opacity: 1;
      } 
    }      
  }
  & .centred-block{
    position: absolute;    
    z-index: 20;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  & .title{
    font-size: 70px;
    line-height: 1.2;
    @media @medium{
      font-size: 52px;
    }
    @media @tablet{
      font-size: 32px;
    }
    @media @mobile{
      font-size: 24px;
    }
    & a:hover{
      text-decoration: none;      
    }
  }
  & .descr{
    font-size: 28px;
    @media @medium{
      font-size: 24px;
    }
    @media @tablet{
      font-size: 18px;
    }
    @media @mobile{
      font-size: 16px;
    }
  }
  & .category{
    background: #F2F2F2;
    color: #8B8B8B;
  }
  & .statistic{
    position: static;
    display: inline-block;
    margin-top: 24px;
    & .count{
      color: #F2F2F2
    }
    & path{
      stroke: #F2F2F2;
    }
  }
}
.video-block{  
  & iframe{
    height: @special-height;
    @media @mobile{
      height: @special-height/2;
    }
  }
  & .theimage{
    cursor: pointer;
    border-radius: 24px;
    overflow: hidden;
  }
}
.blog-wrap--3{
  @media (min-width: 1200px){
    & .col-lg-3 {
      width: 33.33333333%;
    }
  }
}

.media-block--quarter{
  height: @quarter-height;
  @media @mobile{
    height: auto;
  }
  @media @small-notebook{
    height: 540px;
  }
}

.media-block--event{
  & .category{
    margin-bottom: 14px;
    & a{
      border: 1px solid @text-color;
      border-radius: 2px;
      color: @text-color;
      display: inline-block;
      padding: 10px 14px 8px;
      margin-right: 10px;
      transition: all 0.3s ease-in;
      &:hover{
        background-color: @category-text;
        border-color: @category-text;
        color: white;
        text-decoration: none;
      } 
    }
    & .date{
      text-transform: none;
      font-size: 14px;
      vertical-align: middle;
      letter-spacing: 0;
    }
  }
  & .title{
    font-size: 16px;
    font-weight: 600;
  }
  & .statistic{
    & path, & .count{
      fill: @text-color;
      color: @text-color;
    }
  }
}
.media-block--index{
  margin-bottom: 48px;
  @media @mobile_tablet{
    margin-bottom: 24px;
  }
  &.media-block--review {
    height: 648px;
    position: relative;
    border: none;
    padding: 0;
    @media @mobile{
      height: 150px;
    }
    @media @tablet{
      height: 348px;
    }
    @media @medium{
      height: 422px;
    }
    &:hover{
      background: none;
      .photo img{
        transform: none;
      }
    }
    .photo{
      border-radius: 24px;
      overflow: hidden;
      margin-bottom: 0;
      a:after{
        opacity: 1;
        background: linear-gradient(180deg, rgba(0,0,0,0.0000001), rgba(0,0,0,0.4), rgba(0,0,0,0.0000001));
      }
    }
    .text{
      position: absolute;
      left: 64px;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      @media @mobile{
        left: 16px;
      }
    }
    .title{
      font-weight: 600;
      font-size: 64px;
      line-height: 84px;
      max-width: 900px;
      margin: 8px 0 16px;
      @media @mobile{
        font-size: 20px;
        line-height: 24px;
      }
      @media @tablet{
        font-size: 44px;
        line-height: 64px;
      }
    }
    .category{
      margin-top: 0;
      background-color: #F2F2F2;
      color: #1A1919;
      font-size: 16px;
      line-height: 20px;
      @media @mobile{
        font-size: 12px;
        line-height: 16px;
      }
    }
    .statistic{
      color: #F2F2F2;
      position: static;
      &:before{
        background-color: #F2F2F2;
      }
      .count{
        color: #F2F2F2;
      }
      path{
        stroke: #F2F2F2;
      }
    }
  }
}
.media-wrapper--medium{
  & .media-block--new-review{
    height: @new-review-height; 
    color: white;
    @media @medium{
      height: @new-review-height * 0.8; 
    }
    @media @mobile_tablet{
      height: @new-review-height * 0.62; 
    }
    & .photo {
      position: absolute!important;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      @media @mobile{
        max-width: 100%;
      }
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.2) 50%,rgba(0,0,0,.7));      
        z-index: 10;
      } 
    }
    & .title{
      font-weight: bold;
    }
    & .category{
      color: white;
      font-size: 12px;
    }    
    & .text{
      position: absolute;
      left: 20px;
      top: 200px;
      z-index: 3;
      width: calc(~'100% - 40px');
      @media @medium{
        top: 120px;
      }
      @media @mobile_tablet{
        top: 20px;
      }
    }
    & .statistic{
      left: 20px;
      bottom: 20px;
      & path, & .count{
        fill: white;
        color: white;
      }
    }
    & .descr.covert{
      display: block;
    }
  }
}
.media-block--new-review, .media-block--pop-review{
  height: 602px;
  @media @small-notebook{
    height: 510px;
  }
  @media @medium{
    height: 530px;
  }
  @media @tablet{
    height: 530px;
  }
  @media @mobile{
    height: auto;
    padding-bottom: 84px;
  }
  & .descr{
    font-size: 18px;
    line-height: 26px;
    &.covert{
      display: none;
    }
  }
  & .statistic{
    bottom: 24px;
  }
}
.media-wrapper--wo-image{
  & .media-block--event{
    height: @events-height;
    @media @large{
      padding-left: 10px;
      padding-right: 10px;      
    }
    @media @medium{
      height: @events-height * 1.2;
    }
    @media @tablet{      
      height: @events-height * 1.45;
    }
    & .photo{
      display: none;
    }
    & .kind{
      display: none;
    }
    & .statistic{
      bottom: 0;
    }
    & .category{
      margin-top: 0;
      margin-bottom: 10px;
      color: @text-color;
      & a:hover{
        background-color: @category-text;
        border-color: @category-text;
        color: @event-fon;
      } 
    }
    & .date{
      @media @tablet{
        display: block;
        margin-top: 10px;
      }
    }
    & a:hover{
      text-decoration: none;
      color: lighten(@text-color, 30%);
    }
  }
}
.media-wrapper--large{
  & .media-block--event{
    color: white;
    height: @event-height;
    margin-bottom: 20px;
    @media @medium{
      height: @event-height * 0.78;
    }
    @media @tablet{
      height: @event-height * 0.6;
    }
    @media @mobile{
      height: @event-height * 0.6;
      & img{
        max-width: none;
        max-height: @event-height * 0.6;
        width: auto !important;
      }
    }
    & .photo {
      position: absolute!important;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      @media @mobile{
        max-width: 100%;
      }
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.2) 50%,rgba(0,0,0,.7));      
        z-index: 10;
      } 
    }
    & .title{
      font-size: 48px;
      font-weight: normal;
      max-width: 800px;
      margin-top: 0;
      margin-bottom: 18px;
      @media @medium{
        font-size: 40px; 
      }
      @media @tablet{
        font-size: 30px;       
      }
      @media @mobile{
        font-size: 22px;        
      }      
    }
    & a:hover{
      text-decoration: none;
      color: darken(white, 10%);
    }
    & .date{
      color: white;
      font-size: 18px;
      @media @mobile_tablet{
        font-size: 14px;
      }
    }
    & .category a{ 
      background-color: @event-fon;
      border-color: @event-fon;
      font-size: 12px;    
      &:hover{
        background-color: @category-text;
        border-color: @category-text;
        color: white;
      }  
      @media @mobile_tablet{
        font-size: 10px;
      }      
    }   
    & .descr{
      font-size: 24px;
      margin-bottom: 18px;
      @media @mobile_tablet{
        font-size: 16px;
      }
    }
    & .text{
      position: absolute;
      left: 30px;
      bottom: 90px;
      z-index: 3;
      width: calc(~'100% - 40px');
      @media @medium{
        bottom: 70px;
      }
      @media @mobile_tablet{
        bottom: 45px;
        left: 10px;
      }
    }
    & .statistic{
      bottom: 20px;
      left: 30px;
      @media @mobile_tablet{
        bottom: 10px;
        left: 10px;
      }
      & path, & .count{
        fill: white;
        color: white;
      }
    }
  }
}
.media-block--pop-place{
  position: relative;
  height: 550px;
  border: none;
  border-radius: 24px;
  padding: 0;
  @media @medium{
    height: 356px;
  }
  @media @mobile_tablet{
    height: auto;
    padding-bottom: 60px;
  }
  .photo{
    position: relative;
    a:after{
      opacity: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 1e-7), rgba(0, 0, 0, 0.4));
    }
  }
  .text{
    position: absolute;
    left: 24px;
    top: 280px;
    @media @mobile_tablet{
      position: static;
    }
    @media @medium{
      top: auto;
      bottom: 84px;
    }
    .category{
      background: #F2F2F2;
    }
    .title{
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      color: #F2F2F2;
      @media @mobile_tablet{
        font-size: 24px;
        line-height: 32px;
        margin: 12px 0 16px;
        color: @text-color;
      }
    }
    .descr{
      color: #F2F2F2;
      @media @mobile_tablet{
        color: @text-color;
      }
    }
  }
  .statistic{
    position: absolute;
    left: 24px;
    bottom: 24px;
    @media @mobile_tablet{
      left: 0;
      bottom: 0;
    }
    path {
      stroke: #F2F2F2;
      @media @mobile_tablet{
        stroke: @text-color;
      }
    }
    .count {
      color: #F2F2F2;
      @media @mobile_tablet{
        color: @text-color;
      }
    }
  }
}
.media-block--main-photo{
  height: @photo-height;
  color: #F2F2F2;
  @media @medium{
    height: 422px;
  }
  @media @tablet{
    height: 324px;
  }
  @media @mobile{
    height: 290px;
    .photo img{
      height: 290px;
      max-width: 1440px;
      width: auto;
    }
  }
  & .photo{
    border-radius: 24px;
    overflow: hidden;
    z-index: 1;
    a:after{
      opacity: 1;
      background: linear-gradient(180.34deg, rgba(255, 255, 255, 0) 35.43%, rgba(0, 0, 0, 0.48) 73.96%, rgba(31, 30, 30, 0.48) 99.75%);
    } 
  }
  & .text{    
    position: absolute;
    left: 24px;
    bottom: 76px;   
    z-index: 3;
  }
  & .title{
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    @media @medium{
      font-size: 40px; 
    }
    @media @tablet{
      font-size: 30px;       
    }
    @media @mobile{
      font-size: 22px;
      line-height: 30px;     
    }   
  }  
  & .category{
    background: #F2F2F2;
  }
  & .statistic{
    position: absolute;
    left: 24px;
    bottom: 24px;
    & path, & .count{
      stroke: #F2F2F2;
      color: #F2F2F2;
    }
  }
}
.media-reviews-carousel.owl-carousel, .pop-places-carousel.owl-carousel,
.photo-reviews-carousel.owl-carousel{
  .owl-nav{
    position: absolute;
    top: -76px;
    right: 0;
    text-align: right;
    left: auto;
    margin-left: 0;
    @media @mobile{
      top: -60px;
    }
    .owl-prev, .owl-next{
      background: transparent;
      border: 1px solid @text-color;
      border-radius: 50%;
      width: 52px;
      height: 52px;
      overflow: hidden;
      text-indent: 52px;
      position: relative;
      display: inline-block;
      @media @mobile{
        width: 30px;
        height: 30px;
      }
      &:before, &:after{
        content: "";
        width: 12px;
        height: 1px;
        background-color:@text-color;
        position: absolute;
        @media @mobile{
          width: 10px;
        }
      }
      &:hover{
        border-color: #8B8B8B;
        &:before, &:after{
          background-color:#8B8B8B;
        }
      }
    }
    .owl-prev{
      margin-right: 16px;
      &:before{
        left: 18px;
        top: 21px;
        transform: rotate(-45deg);
        @media @mobile{
          left: 8px;
          top: 10px;
        }
      }
      &:after{
        left: 18px;
        top: 29px;
        transform: rotate(45deg);
        @media @mobile{
          left: 8px;
          top: 17px;
        }
      }
    }
    .owl-next{      
      &:before{
        left: 22px;
        top: 21px;
        transform: rotate(45deg);
        @media @mobile{
          left: 10px;
          top: 10px;
        }
      }
      &:after{
        left: 22px;
        top: 29px;
        transform: rotate(-45deg);
        @media @mobile{
          left: 10px;
          top: 17px;
        }
      }
    }
    .owl-prev.disabled,
    .owl-next.disabled {
      pointer-events: none;
      opacity: 0.25;
    }
  }
}
.view-display-id-top3_places{
  .article-photo{
    border-radius: 24px;
    overflow: hidden;
  }
  .article-text--left .article-photo a:after{
    border-radius: 24px;
    overflow: hidden;
  }
}
