@font-face {
    font-family: 'Ikra Slab';
    src: url('ikraslab-400-normal.woff2') format('woff2'), url('ikraslab-400-normal.woff') format('woff'), url('ikraslab-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}